.outer {
  min-height: 100vh !important;
}

.contact-us {
  color: rgb(0, 0, 0);
  font-family: Cormorant;
}

.form-label {
  color: rgb(0, 0, 0);
}

.submitBtn {
  background-color: transparent !important;
  border-color: rgb(0, 0, 0) !important;
  color: black !important;

  &:hover {
    background-color: #233942 !important;
    color: white !important;
  }
}
